{% extends "base.html" %}

{% block inside_main %}            
            <h1>Tag: bender</h1>
            <div class="col-md-12 blocks">
                <div class="col-md-3">
                    <img src="man.png" alt="Avatar" class="img-rounded">
                    <input type="number" min="1" max="20" step="1" style='margin-left: 40px; height: 40px; width: 60px; padding-left: 10px;'/>
                </div>
                <div class="col-md-9">
                    <a class="link-header" href="#">How to build a moon park?</a>
                    <div class="text_align">
                        <br>Guys, i have trouble with a moon park.</br>
                        <br>Can't find the black-jack...</br>
                        <div style='padding-top:50px;'>
                        <a href="#">answer (3)</a>
                        <basefont>Tags: </basefont>
                        <a href="#">black-jack</a>
                        <a href="#">bender</a>
                        </div>
                    </div>
                </div>
            </div>
       
            <div class="col-md-12 blocks">
                <div class="col-md-3">
                    <img src="man.png" alt="Avatar" class="img-rounded">
                    <input type="number" min="1" max="20" step="1" style='margin-left: 40px; height: 40px; width: 60px; padding-left: 10px;'/>
                </div>
                <div class="col-md-9">
                    <a class="link-header" href="#">How to build a moon park?</a>
                    <div class="text_align">
                        <br>Guys, i have trouble with a moon park.</br>
                        <br>Can't find the black-jack...</br>
                        <br></br>
                        <a href="#">answer (3)</a>
                        <basefont>Tags: </basefont>
                        <a href="#">black-jack</a>
                        <a href="#">bender</a>
                    </div>
                </div>
            </div>

            <div class="col-md-12 blocks">
                <div class="col-md-3">
                    <img src="man.png" alt="Avatar" class="img-rounded">
                    <input type="number" min="1" max="20" step="1" style='margin-left: 40px; height: 40px; width: 60px; padding-left: 10px;'/>
                </div>
                <div class="col-md-9">
                    <a class="link-header" href="#">How to build a moon park?</a>
                    <div class="text_align">
                        <br>Guys, i have trouble with a moon park.</br>
                        <br>Can't find the black-jack...</br>
                        <br></br>
                        <a href="#">answer (3)</a>
                        <basefont>Tags: </basefont>
                        <a href="#">black-jack</a>
                        <a href="#">bender</a>
                    </div>
                </div>
            </div>

            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>

        </div>
        
        {% endblock %}
